body {
    background-color: black;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    margin: 2em auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}

#board {
    display: grid;
    grid-template-columns: repeat(16, 60px);
}

.column {
    display: grid;
    grid-template-rows: repeat(5, 60px);
}

.box {
    height: 50px;
    width: 50px;
    background-color: black;
    border: solid 2px magenta;
    box-shadow: none
}

#player-controls {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#player-controls button {
    height: 100px;
    width: 100px;
    border: none;
    background-size: cover;
    border-radius: 50%;
    background-color: #0cf;
    box-shadow:
        0 0 10px 6px #0cf,
        0 0 14px 9px #000;
}

#listen-btn {
    background: url(images/listen.png);
}

#play-btn {
    background: url(images/play.png);
}

#pause-btn {
    background: url(images/pause.png);
}

#stop-btn {
    background: url(images/stop.png);
}

#next-container {
    margin-top: 50px;
}

#next-btn {
    display: block;
    margin: auto;
    height: 100px;
    width: 160px;
    background: url(images/next.png);
    border: none;
    background-size: cover;
    border-radius: 5%;
    background-color: #0cf;
    box-shadow:
        0 0 10px 6px #0cf,
        0 0 14px 9px #000;

}